@import '../../shared/variables';

@mixin colWidth($val) {
  // max-width: $val;
  // min-width: $val;
  width: $val;

  @media (max-width: 1024px) {
    min-width: auto;
  }
}

@mixin textElipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.emails {
  position: relative;
  min-height: calc(100vh - (#{$spacing * 2} - #{$toolbar-height}));
  
  &__table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;

    th, td {
      width: auto;
      padding-right: $spacing / 2;
      @include textElipsis;
    }

    &__row {
      &:hover {
        cursor: pointer;
        background: $hover-color;
      }
    }

    &__from-wrapper {
      display: flex;
      align-items: center;

      &:before {
        content: '';
        display: inline-block;
        width: $spacing / 2;
        height: $spacing / 2;
        padding-left: $spacing / 2;
        background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M505.496,240.307l-194.59-194.59c-8.672-8.671-22.714-8.671-31.386,0c-8.671,8.664-8.671,22.722,0,31.386L458.418,256 L279.521,434.897c-8.671,8.664-8.671,22.722,0,31.386c4.336,4.336,10.011,6.504,15.693,6.504s11.365-2.168,15.693-6.504 l194.59-194.59C514.168,263.029,514.168,248.971,505.496,240.307z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M232.479,240.307L37.889,45.717c-8.664-8.671-22.722-8.671-31.386,0c-8.671,8.664-8.671,22.722,0,31.386L185.393,256 L6.504,434.897c-8.671,8.664-8.671,22.722,0,31.386c4.328,4.336,10.011,6.504,15.693,6.504s11.365-2.168,15.693-6.504 l194.59-194.59C241.15,263.029,241.15,248.971,232.479,240.307z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: $spacing / 2 $spacing / 2;
        background-position: left 50%;
        filter: opacity(0.2);
      }

      &--threads {
        &:before {
          filter: none;
        }
      }
    }

    .mat-column-from {
      @include colWidth(243px);
    }
    .mat-column-date {
      @include colWidth(100px);
    }
  }

  &__spinner {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 48px 0;
  }

  .text-elipsis {
    @include textElipsis;
  }
}
