<div class="emails">
  <div [hidden]="isLoading || dataSource.data.length <= 0" class="emails__search-filters">
    <app-search-filters
        (resetFilters)="resetFilters()"
        (applyFilters)="applyFilters($event)"></app-search-filters>
  </div>

  <div *ngIf="isLoading" class="emails__spinner">
    <mat-progress-spinner 
      color="primary" 
      mode="indeterminate">
    </mat-progress-spinner>
  </div>

  <div [hidden]="isLoading || dataSource.data.length <= 0"> 
    <!-- Emails data table -->
    <table mat-table matSort
           [dataSource]="dataSource" 
           matSortActive="date" 
           matSortDirection="desc" 
           class="emails__table mat-elevation-z8">

      <!-- From Column -->
      <ng-container matColumnDef="from">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>From</th>
        <td mat-cell *matCellDef="let item">
          <div class="emails__table__from-wrapper" 
               [ngClass]="{'emails__table__from-wrapper--threads':  item.threads && item.threads.length > 0 }">
               <span class="text-elipsis">{{item.from}}</span>
          </div>
        </td>
      </ng-container>

      <!-- Subject & Body Column -->
      <ng-container matColumnDef="subjectBody">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Subject / Body</th>
        <td mat-cell *matCellDef="let item" class="text-elipsis">
          <strong [innerHTML]="item.subject | noSubject | highlightSearch: searchTerm"></strong>&nbsp; - &nbsp;
          <span [innerHTML]="item.body | slice:0:200 | highlightSearch: searchTerm"></span>
        </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let item">{{item.date | date}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row 
          (click)="openDetailed(row)"
          *matRowDef="let row; columns: displayedColumns;" 
          class="emails__table__row"></tr>
    </table>
    
    <!-- Emails pagination -->
    <mat-paginator 
        [length]="100"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
        class="emails__paginator mat-elevation-z8">
    </mat-paginator>
  </div>

  <div *ngIf="!isLoading && dataSource.data.length <= 0">
    Archive data is empty or has not been loaded.
  </div>

  <app-email-detail 
      [toggle]="showDetailed" 
      (closeDetailed)="closeDetailed()" 
      [email]="selectedEmail" 
      [searchTerm]="searchTerm"></app-email-detail>
</div>
