// spacing
$spacing-xs: 16px;
$spacing: 24px;
$spacing-xl: 32px;
$spacing-xxl: 48px;

// colors
$hover-color: #8a2be214;
$primary-text-color: #000;
$secondary-text-color: rgba(0, 0, 0, .5);
$border-color: #979797;

// sizing
$toolbar-height: 64px;
$filters-height: 56px;
