@import '../../shared/variables';

.email-detail {
  position: absolute;
  top: $filters-height;
  width: 100%;
  min-height: calc(100% - #{$filters-height});
  overflow-y: scroll;

  &__wrapper {
    position: absolute;
    width: calc(100% - 80px); // TODO: find better approach, currently it's double padding plus scroll size
    padding: $spacing-xl $spacing-xl 0 $spacing-xxl;
    min-height: calc(100% - #{$spacing-xl});
  }

  &__title {
    display: flex;
    align-items: center;
    padding-bottom: $spacing;

    &__back {
      margin: 0 0 0 -40px; // default button width
    }
  }

  &__from {
    display: flex;
    margin-bottom: 3px;
    justify-content: space-between;

    .subject {
      color: $primary-text-color;

      &--thread {
        font-weight: bold;
      }
    }
  }

  &__persons {
    margin-bottom: $spacing;

    &__to {
      color: $secondary-text-color;
    }
  }
  
  &__body {
    padding-bottom: $spacing-xl;
  }

  &__thread {
    border-top: 1px solid $border-color;
    margin-bottom: $spacing-xs;
    padding-top: $spacing;
    border-radius: 0!important;

    &__header {
      &:hover {
        background: none !important; // TODO: find a way for a proper override
      }
    }

    &__title {
      display: block;
    }
    
    &__short-body {
      display: block;
      color: $secondary-text-color;
      font-size: 14px;
    }
  }

  .panel-header {
    display: block;
    height: auto;
    padding: 0;

    &:hover {
      background: none !important; // TODO: find a way for a proper override
    }
  }
}
