<div *ngIf="toggle" class="email-detail mat-elevation-z8">
  <mat-card class="email-detail__wrapper">
    <mat-card-title class="email-detail__title">
      <button mat-icon-button class="email-detail__title__back" (click)="toggleView()">
        <svg viewBox="0 0 24 24" focusable="false" class="mat-paginator-icon">
          <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
        </svg>
      </button>
      {{email.subject | noSubject}}
    </mat-card-title>

    <mat-card-subtitle class="email-detail__from">
      <div class="subject">{{email.from}}</div>
      <div class="data">{{email.date | date:'long' }}</div>
    </mat-card-subtitle>
    
    <mat-card-subtitle>
      <mat-expansion-panel class="email-detail__persons mat-elevation-z0">
        <mat-expansion-panel-header class="panel-header">
          <mat-panel-title class="email-detail__persons__to">{{email.to}}</mat-panel-title>
        </mat-expansion-panel-header>

        <div class="email-detail__persons__list">
          <p><strong>cc: </strong> {{email.cc}}</p>
          <p><strong>bcc: </strong> {{email.bcc}}</p>
          <p><strong>date: </strong> {{email.date}}</p>
          <p><strong>subject: </strong> {{email.subject}}</p>
        </div>
      </mat-expansion-panel>
    </mat-card-subtitle>

    <mat-card-content class="email-detail__body" [innerHTML]="email.body | formatLineBreaks | highlightSearch: searchTerm"></mat-card-content>

    <!-- if email has replys -->
    <mat-accordion *ngIf="email.threads && email.threads.length">
      <mat-expansion-panel hideToggle *ngFor="let thread of email.threads" class="email-detail__thread  mat-elevation-z0">
        <mat-expansion-panel-header class="panel-header">
          <mat-panel-title class="email-detail__thread__title">
            <mat-card-subtitle class="email-detail__from">
              <div class="subject subject--thread">{{thread.subject | noSubject}} - {{thread.from}}</div>
              <div class="data">{{thread.date | date:'long' }}</div>
            </mat-card-subtitle>
            <p class="email-detail__thread__short-body">{{thread.body | slice:0:200 | highlightSearch: searchTerm}}</p>
          </mat-panel-title>          
        </mat-expansion-panel-header>
        <mat-card-content class="thread-body" [innerHTML]="thread.body | formatLineBreaks | highlightSearch: searchTerm"></mat-card-content>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>
