
<div class="app-container">
    <mat-toolbar color="primary">
        <div class="app-container__toolbar">
            <span>Inbox - Emails</span>
        </div>
    </mat-toolbar>

    <div class="app-container__emails">
        <app-emails-list></app-emails-list>
    </div>
</div>
