@import 'shared/variables';

.app-container {
  &__toolbar {
    padding: 0 $spacing/2;
  }
  &__emails {
    padding: $spacing;
    min-height: calc(100vh - (#{$spacing * 2} - #{$toolbar-height}));
  }
}
