<form class="search-filters" [formGroup]="formControl">
  <mat-form-field appearance="legacy" class="search-filters__field">
    <mat-label>Filter by person</mat-label>    
    <input matInput placeholder="Type name to filter" formControlName="person">
  </mat-form-field>

  <mat-form-field appearance="legacy" class="search-filters__field">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Type to start search" formControlName="term">
  </mat-form-field>

  <mat-form-field appearance="legacy" class="search-filters__field">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button type="reset" mat-stroked-button (click)="doReset()">Reset</button>
</form>
