/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #F6FAFA; }

.highlight {
    background-color: #e1c0ff;
    padding: 2px 0;
}
